<a href="https://colab.research.google.com/github/AshKatzEm/Movie_recommender/blob/main/Movie_explorer1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd
RatingsMerge = pd.read_csv('/content/drive/MyDrive/Movie_recommender/Data/RatingsMerge.csv')
#/content/drive/MyDrive/Movie_recommender/Data/MovieMerge.csv

In [13]:
RatingsMerge

,userId,movieId,rating,timestamp_x,tag,timestamp_y,title,genres,tagId
0,14,110,4.5,1442169623,epic,1443148538,Braveheart (1995),Action|Drama|War,359
1,3086,110,5.0,1462977009,epic,1463675332,Braveheart (1995),Action|Drama|War,359
2,5848,110,4.0,1432234167,epic,1432234174,Braveheart (1995),Action|Drama|War,359
3,25286,110,2.5,1412107998,epic,1455671055,Braveheart (1995),Action|Drama|War,359
4,28905,110,4.0,1487342800,epic,1487342816,Braveheart (1995),Action|Drama|War,359
...,...,...,...,...,...,...,...,...,...
413664,253839,116849,0.5,1416258848,boring!,1423926073,Sex Ed (2014),Comedy|Romance,156
413665,209212,141761,2.5,1454635288,handycam,1454637536,Area 51 (2015),Horror|Sci-Fi|Thriller,488
413666,212343,141761,2.5,1442011337,handycam,1442006411,Area 51 (2015),Horror|Sci-Fi|Thriller,488
413667,282552,117549,5.0,1421626677,handycam,1421626923,The Taking of Deborah Logan (2014),Horror|Thriller,488
413668,77520,27369,3.5,1252900736,mtv,1252900721,Daria: Is It Fall Yet? (2000),Animation|Comedy,678

In [14]:
RatingsMerge[RatingsMerge.isnull().values]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp_x, tag, timestamp_y, title, genres, tagId]
Index: []

Looks like our data is pretty clean. Let's see if we can find some ubiquity. In the big picture, we're trying to provide a recommendation to a user based on some interest. Let's say the user is a "userId". More specifically, we want to find a "userId" that fits with our users interests and then we can provide other content that our user might like based on what this "userId" also likes.

In [48]:
#(RatingsMerge.where(RatingsMerge.userId == 14) == RatingsMerge.mask(~RatingsMerge.userId == 14))
RatingsMerge[(RatingsMerge['userId'] == 14) & (RatingsMerge['rating'] == 4.5)]

,userId,movieId,rating,timestamp_x,tag,timestamp_y,title,genres,tagId
0,14,110,4.5,1442169623,epic,1443148538,Braveheart (1995),Action|Drama|War,359
26569,14,318,4.5,1442169454,imdb top 250,1442615195,"Shawshank Redemption, The (1994)",Crime|Drama,536
44772,14,318,4.5,1442169454,justice,1442615192,"Shawshank Redemption, The (1994)",Crime|Drama,585